<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-02-12 14:01:01
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-04-28 18:55:34
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magiccart" translate="label" sortOrder="102">
            <label>Magiccart</label>
        </tab>
        <section id="magiccart_zoom" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Zoom</label>
            <tab>magiccart</tab>
            <resource>Magiccart_Zoom::config</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <comment>Enabled Module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="on" translate="label comment" type="select" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Zoom Event</label>
                    <comment>mouseover', grab, click, toggle</comment>
                    <source_model>Magiccart\Zoom\Model\Config\Source\Type</source_model>
                </field>

                <field id="target" translate="label comment" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Target</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>

                <field id="magnify" translate="label comment" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Magnify</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>

                <field id="duration" translate="label comment" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Duration</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>

                <field id="touch" translate="label comment" type="select" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Touch</label>
                    <comment>enables a touch fallback</comment>
                    <source_model>Magiccart\Zoom\Model\Config\Source\Truefalse</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
